@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}

*{
  margin: 0;
  padding: 0;
}

/* body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.6;
  font-size: 16px;
  min-height: 100vh;
} */

header h1{
  margin: 0;
  object-fit: cover;
  font-size: 2rem;
  color: white;
}

.navBar{
  display: flex;
  /* background-color: #ccddff; */
  background-color: #66b3ff;
  border-bottom: 2px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.navBar a{
  text-decoration: none;
  color: inherit;
}

.logo h1{
  background-color: white;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 5px 10px black;
}

.logo h1:hover{
  background-color: black;
  color: white;
  box-shadow: 5px 10px white;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.navbar-menu a{
  padding: 25px 5px;
}

.navbar-menu a:hover{
  background-color: rgba(255, 255, 255, 0.3);
}